@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.inventoryItemDisplay {
  // display: none;
  @include tablet {
    display: block;
    border-bottom: 1px solid $secondary-color-Cloud;
    padding: 1rem 0;
    &:hover {
      background-color: $background-color-Light-Grey;
    }
  }
}
.inventoryItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  color: $secondary-color-Slate;

  padding: 1rem 0;
  @include tablet {
    grid-template-columns: 0.8fr 1fr 1fr 0.5fr 1fr 0.2fr 0.2fr;
    grid-template-rows: 1fr;
    gap: 0;
  }

  &__li {
    display: flex;
    flex-direction: column;
  }
  &__li-arrowIcn {
    transition: transform 0.3s ease;
    width: 1.2rem;
    &:hover {
      cursor: pointer;
      transform: translateX(4px);
    }
  }

  &__li-status {
    height: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 0 1rem;
    font-size: 0.815rem;
    font-weight: 600;
    border-radius: 50rem;
    // padding: 0 2rem;
    text-transform: uppercase;
    &-inStock {
      background-color: rgb(184, 218, 208);
      color: $supporting-color-Green;
    }
    &-outOfStock {
      background-color: rgb(251, 242, 238);
      color: $supporting-color-Red;
    }
  }
  &__li-nameWithIcn {
    display: flex;
    align-items: center;
    color: blue;
    cursor: pointer;
  }
  &__mobile-title {
    font-size: 1rem;
    color: $secondary-color-Slate;
    @include tablet {
      display: none;
    }
  }
  &__li-Ed-icon,
  &__li-del-icon {
    width: 1.5rem;
    cursor: pointer;
  }
  &__li-statusContainer {
    grid-column: 2;
    grid-row: 1;
    @include tablet {
      grid-column: auto;
      grid-row: auto;
    }
  }
  &__li-warehouse {
    grid-column: 2;
    grid-row: 3;
    @include tablet {
      grid-column: auto;
      grid-row: auto;
    }
  }

  &__li-ed-link {
    grid-column: 2;
    grid-row: 4;
    @include tablet {
      grid-column: auto;
      grid-row: auto;
    }
  }

  &__li-del-link {
    grid-column: 1;
    grid-row: 4;
    @include tablet {
      grid-column: auto;
      grid-row: auto;
    }
  }
}
